- name: Log in to Amazon ECR
  run: |
    aws ecr get-login-password --region ap-south-1 | docker login --username AWS --password-stdin 999804595543.dkr.ecr.ap-south-1.amazonaws.com

- name: Build Docker image
  working-directory: Sample-ecs/demo
  run: docker build -t 999804595543.dkr.ecr.ap-south-1.amazonaws.com/sample-spring:latest -f Dockerfile .

- name: Push Docker image to ECR
  run: docker push 999804595543.dkr.ecr.ap-south-1.amazonaws.com/sample-spring:latest
